<div class="container" *ngIf="weatherModel">
  <div class="card text-white bg-primary m-3" style="max-width: 12rem;">
    <div class="card-header text-center">
      <h2>{{weatherModel.name}}</h2>
      <h5>{{weatherModel.main.temp.toFixed(0)}}°F {{weatherModel.weather[0].main}}</h5>
      <p class="card-text">
        H: {{weatherModel.main.temp_max.toFixed(0)}}°
        L: {{weatherModel.main.temp_min.toFixed(0)}}°
      </p>
      <p class="weather-image"><img src="{{iconURL}}" alt="weather image" /></p>
    </div>
    <div class="card-body">
      <p class="card-text">Sunrise: {{weatherModel.sunrise_time}}</p>
      <p class="card-text">Sunset: {{weatherModel.sunset_time}}</p>
      <p class="card-text">Wind: {{weatherModel.wind.speed}} MPH</p>
      <p class="card-text">Feels like: {{weatherModel.main.feels_like.toFixed(0)}}°</p>
      <p class="card-text">Visibility: {{weatherModel.visibility}} mi</p>
      <p class="card-text">Humidity: {{weatherModel.main.humidity}} %</p>
      <p class="card-text">Pressure: {{weatherModel.main.pressure}} hPa</p>
    </div>
  </div>
</div>