<br>Welcome to my portfolio website!
<br><br> I am a full stack .NET developer with over 9 years of experience in designing, developing, and maintaining web
applications.
<br> I have a strong background in C#, ASP.NET Core, MVC, Web API, Entity Framework Core, ADO.NET, SQL, Angular, Azure,
and other technologies.
<br> I am passionate about creating user-friendly, secure, and scalable software that meets the needs and expectations
of our clients and stakeholders.
<br> I also enjoy learning new skills and technologies to enhance my professional growth and contribute to the
innovation and success of the project.
<br> Please feel free to explore my portfolio and contact me if you have any questions or opportunities for
collaboration.
<br><br> Thank you for visiting my website!
<br> I hope you find it informative and engaging.
<br><br>