<app-filter [all]="totalSkillsCount" [certified]="certifiedSkillsCount"
    (selectedFilterChange)="onFilterChange($event)"></app-filter>

<div class="elearn--skills--container">
    <ng-container *ngFor="let skill of skills">
        <app-skill [skill]="skill" (click)="selectedSkill=skill" *ngIf="searchText ? 
            skill.name.toLowerCase().includes(searchText.toLowerCase()) 
            : selectedFilter==='all' || skill.isCertified.toString()===selectedFilter">
        </app-skill>
    </ng-container>
</div>