<div class="elearn--skill--item" appHighlight>
    <div class="elearn--skill--image">
        <img src="{{skill.icon}}" class="elearn--skill--image" alt="{{skill.name}}" />
    </div>
    <div class="elearn--skill--name">{{skill.name}}</div>
    <div class="elearn--skill--category">Xp: {{skill.experience}}+ years</div>
    <div class="elearn--skill--category" [ngStyle]="{fontweight: 'bold', color: skill.isCertified ? 'green' : 'red'}">
      {{skill.isCertified ? "Certificate Achieved" : "No Certificate"}}
    </div>
</div>