<div class="ekart--product--item" appHighlight>
    <div class="ekart--product--image">
        <img src="{{skill.icon}}" class="ekart--product--image" alt="{{skill.name}}" />
    </div>
    <div class="ekart--product--name">{{skill.name}}</div>
    <div class="ekart--product--category">Xp: {{skill.experience}}+ years</div>
    <div class="ekart--product--category" [ngStyle]="{fontweight: 'bold', color: skill.isCertified ? 'green' : 'red'}">
      {{skill.isCertified ? "Certificate Achieved" : "No Certificate"}}
    </div>
</div>