<div class="container border m-2">
    <div class="row row-cols-4 m-2">
        <div class="col">Name:</div>
        <div class="col cols-3">
            <input [(ngModel)]="userModel.username" placeholder="Name">
        </div>
    </div>
    <div class="row row-cols-4 m-2">
        <div class="col">Password:</div>
        <div class="col cols-3">
            <input [(ngModel)]="userModel.password" placeholder="Password" type="password">
        </div>
    </div>
    <div class="row row-cols-4 m-2">
        <div class="col"></div>
        <button class="btn btn-success btn-lg btn-block m-2" (click)="register(userModel)">
            Register</button>
        <button class="btn btn-primary btn-lg btn-block m-2" (click)="login(userModel)">
            Login</button>
    </div>
</div>